<div class="bg-transparent py-2">
      <h3 class="text-3xl text-[--titulos]">Sobre mi</h3>
      <br>
      <p class="text-[--texto]">Mi historia en el mundo de la programación comenzó a los 17 años cuando descubrí mi pasión por el desarrollo web de manera autodidacta. Aunque inicié una carrera en Ingeniería en Computación en la Universidad Nacional de Córdoba, la pandemia me llevó a abandonarla. En 2020, a los 19 años, me incerte en el mundo laboral, primero trabajando como freelance y meses mas tarde fui contratado por la empresa en la que me encuentro hasta la fecha. Actualmente ejerso como Director Tecnologico en <a href="https://trichterconsulting.com" target="__blank" class="text-[--azul-marca] underline">Trichter consulting</a> y <a href="https://realestatetrichter.com" target="__blank" class="text-[--azul-marca] underline">Trichter Real Estate</a> con mas de dos años y medio en la posicion.
      He tenido la valiosa oportunidad de aprender y evolucionar en mi trayectoria profesional, y mi compromiso se centra en el constante avance de mi carrera en el desarrollo de software, continuar aportando valor, disfrutar plenamente de lo que hago y aprender de los equipos con los que colaboro, siempre persiguiendo la innovación en cada proyecto en el que participo.
      <p>
      <br>
      <br>
      <h3 class="text-3xl text-[--titulos]">Mi encuentro con EasyBroker</h3>
      <br>
      <p class="text-[--texto]">
            Conocí EasyBroker gracias a los clientes con los que trabajé en mi empleo actual, porque brindamos un servicio de Marketing inmobiliario que incluye un CRM. Así pues, muchos de los clientes que asistí tenían sitio web y gestionaban sus propiedades en EasyBroker. Lo que requerían era centralizar todo el flujo de leads incluyendo el de EB, en nuestro CRM. Para ello tuve que hacer unas integraciones con la API de EB; al leer la documentación quedé sorprendido por su nivel de trabajo y precisión. Además, ingresando a la cuenta de los clientes para hacer algunas configuraciones, me percaté de lo simple e intuitiva que era y no tardé en compartirle mi entusiasmo a un compañero y empezar a recorrer el Software en profundidad. Honestamente, me encanta el producto, la estética, la experiencia de usuario, la cultura de equipo que promueven y sobre todo creo que es un proyecto que tiene mucho futuro.
      <p>
      <br>
      <br>
      <div class="flex justify-between items-start">
      <div class="w-[50%]">
            <h3 class="text-3xl text-[--titulos]">¿Por qué sumarme a su equipo?</h3>
            <br>
            <p class="text-[--texto] text-sm font-medium leading-normal">
            En lo técnico quizás no sea el candidato ideal. Nunca antes trabajé con Ruby on Rails ni había explorado el mundo del lenguaje Ruby, pero decidí dar el primer paso y aprender sobre este framework y su lenguaje. De hecho, construí este portafolio con Rails desde cero sin tener la menor idea de por dónde empezar. Fue una experiencia desafiante, incluso me recordó vagamente a la versión 13 de Next.js. <br>

            Lo que puedo aportar al equipo es mi determinación inagotable, entusiasmo por aprender cosas nuevas y mi capacidad para absorver conocimiento de manera rápida y eficaz. Además, estaré siempre dispuesto a colaborar con lo que sea necesario.

            También he tenido experiencia liderando equipos, por lo que estoy seguro de que puedo comunicar de manera eficaz y entender a mis compañeros. Entonces, aunque no sea un experto en Ruby on Rails, tengo varios años de experiencia desarrollando con JS y estoy más que dispuesto a aprender cosas nuevas y a trabajar codo a codo con todos ustedes :)
            <p>
      </div>
      <div class="w-[45%]">
            <h3 class="text-3xl text-[--titulos]">Mi experiencia</h3>
            <br>
            <p class="text-[--texto]">
            Llevo 6 años programando con JavaScript, principalmente con las siguientes tecnologías Next, React, Vite y Node, entre otros. He trabajado mucho con CMS's como Wordpress, Strapi y Sanity. Y también trabajé con bases de datos SQL y NOSQL principalmente en plataformas como Supabase, Firebase y mongoDB. 
            En el apartado de los estilos, domino perfectamente CSS, SASS y también frameworks como TailwindCSS, AntDesign, Bootstrap, etc.
            <p>
      </div>
      </div>
</div>