<div class="flex justify-between items-center sticky top-0 py-4 border-b border-gray-200 bg-white px-8 ">
      <h1 class="text-[--azul-marca] text-2xl">Fran.dev</h1>
      <div class="flex">
            <a href="https://www.linkedin.com/in/francisco-brito-b4657420a/" target="__black">
                  <img src="<%= asset_path('linkedin.png') %>" class="w-7 h-7"/>
            </a>
            <a href="https://github.com/FranciscoJBrito" target="__black">
                  <img src="<%= asset_path('github.png') %>" class="w-7 h-7 ml-3"/>
            </a>
      </div>
</div>